## Deliverable 2. Create a Customer Travel Destinations Map.

In [32]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [33]:
# 1. Import the WeatherPy_database.csv file. 
from config import weather_api_key
#from Weather_Database import WeatherPy_Database.csv

In [34]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Filingue,NE,2021-03-05 00:23:35,14.3521,3.3168,79.02,16,0,9.40
9,9,Hilo,US,2021-03-05 00:19:02,19.7297,-155.0900,78.80,53,1,9.22
15,15,Saint-Philippe,RE,2021-03-05 00:23:44,-21.3585,55.7679,77.00,78,40,5.75
18,18,Puerto%20Ayora,EC,2021-03-05 00:20:38,-0.7393,-90.3518,75.99,98,49,4.45
20,20,Arraial%20Do%20Cabo,BR,2021-03-05 00:23:49,-22.9661,-42.0278,78.80,78,40,13.80
22,22,Pisco,PE,2021-03-05 00:23:52,-13.7000,-76.2167,75.20,78,0,16.11
25,25,Edd,ER,2021-03-05 00:23:57,13.9297,41.6925,81.70,53,0,5.57
28,28,Rikitea,PF,2021-03-05 00:24:04,-23.1203,-134.9692,81.81,74,66,6.49
31,31,Hithadhoo,MV,2021-03-05 00:24:09,-0.6000,73.0833,83.91,62,30,7.72
45,45,Manta,EC,2021-03-05 00:20:08,-0.9500,-80.7333,82.40,74,75,4.61

In [36]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [37]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df=preferred_cities_df.dropna()

In [38]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = "NaN"
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
5              Filingue      NE     79.02  14.3521    3.3168        NaN
9                  Hilo      US     78.80  19.7297 -155.0900        NaN
15       Saint-Philippe      RE     77.00 -21.3585   55.7679        NaN
18       Puerto%20Ayora      EC     75.99  -0.7393  -90.3518        NaN
20  Arraial%20Do%20Cabo      BR     78.80 -22.9661  -42.0278        NaN
22                Pisco      PE     75.20 -13.7000  -76.2167        NaN
25                  Edd      ER     81.70  13.9297   41.6925        NaN
28              Rikitea      PF     81.81 -23.1203 -134.9692        NaN
31            Hithadhoo      MV     83.91  -0.6000   73.0833        NaN
45                Manta      EC     82.40  -0.9500  -80.7333        NaN

In [39]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#city_weather = requests.get(city_url)

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
# 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

# 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    len(hotels["results"])
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
   
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
#hotel_df.head(50)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.loc[hotel_df["Hotel Name"] != "NaN"]

clean_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
18,Puerto%20Ayora,EC,75.99,-0.7393,-90.3518,Finch Bay Galapagos Hotel
20,Arraial%20Do%20Cabo,BR,78.80,-22.9661,-42.0278,Pousada Porto Praia
22,Pisco,PE,75.20,-13.7000,-76.2167,Hotel San Isidro Oficial

In [41]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))